/* Start CSS Reset */
*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
/* End CSS Reset */

/* Start Font Styling */
.text__center {
    text-align: center;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__justify {
    text-align: justify;
}
/* End Font Styling */

body {
    background-color: #2b3e50;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* NAVBAR */
.navbar {
    background-color: #e74c3c;
    height: 56px;
    display: flex;
    align-items: center;
}

.navbar a, 
.navbar .navbar__toggler, 
.navbar__item a {
    color: white;
}

.banner__wrapper {
    margin-right: 35px;
    padding: 0 20px;
}

.title__banner {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.navbar__toggler {
    font-size: 24px;
    transition: .5s ease;
}

.navbar__toggler:hover i {
    animation: icon-rotate 1.2s ease-in-out;
}

.navbar__toggler:focus i {
    animation: icon-rotate 1.2s ease-in-out;
}

.navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar__toggler {
    display: flex;
    align-items: center;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    border-radius: 50%;
}

.navbar__toggler i {
    padding: 10px;
}

.navbar__toggler:active {
    background-color: #000;
    color: white;
}

/* SIDENAV */
.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #e74c3c;
    z-index: 99999;
    padding-right: 10px;
    transform: translateX(-100%);
    transition: transform .6s ease-in-out;
}

@media (max-width: 760px){
    .sidenav {
        width: 75%;
    }
}

@media (max-width: 560px){
    .sidenav {
        width: 100%;
    }
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav .navbar {
    margin-bottom: 10px;
}

.sidenav .container-fluid {
    height: 86vh;
    overflow-y: auto;
}

.sidenav .navbar__list .navbar__item,
.sidenav .navbar__list .navbar__dropdown .navbar__dropdown__list .navbar__dropdown__item {
    list-style: none;
}

.sidenav .navbar__list .navbar__item a,
.sidenav .navbar__list .navbar__dropdown .navbar__dropdown__list .navbar__dropdown__item a {
    position: relative;
}

.sidenav .navbar__list .navbar__item a {
    display: flex;
    align-items: center;
}

.sidenav .navbar__list .navbar__item a i {
    padding: 10px;
    font-size: 24px;
}

.sidenav .navbar__list .navbar__item a span {
    padding: 0 20px;
}

.sidenav .navbar__list .navbar__dropdown .navbar__dropdown__list {
    margin-left: 23px;
}

.sidenav .navbar__list .navbar__dropdown .navbar__dropdown__list .navbar__dropdown__item a i {
    padding: 10px;
    font-size: 22px;
}

.sidenav .navbar__list .navbar__dropdown .navbar__dropdown__list .navbar__dropdown__item a span {
    padding: 0;
}


.sidenav .navbar__list .navbar__item.active > a::after,
.sidenav .navbar__list .navbar__item > a:hover::after,
.sidenav .navbar__list .navbar__dropdown .navbar__dropdown__list .navbar__dropdown__item > a:hover::after,
.sidenav .navbar__list .navbar__dropdown .navbar__dropdown__list .navbar__dropdown__item.active > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    animation: nav_item_active .8s ease-in;
}

@keyframes nav_item_active {
    0% { width: 0; }
    100% { width: 100%; }
}

/* CONTENT */
.page {
    padding: 20px 0;
}

.header__page {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 20px;
    position: relative;
    color: white;
}

.header__page::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
    width: 500px;
    background: rgb(43,62,80);
    background: linear-gradient(90deg, rgba(43,62,80,1) 0%, rgba(255,255,255,1) 100%);
    animation: onload_header_page .5s ease;
}

@keyframes onload_header_page {
    0% { width: 0; }
    100% { width: 500px; }
}

.content__wrapper {
    border-radius: .275rem;
    padding: 10px 15px 20px 15px;
}

.refresh__toggler {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    color: white;
    border-radius: .125rem;
    margin-bottom: 10px;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.refresh__toggler i {
    font-size: 18px;
    margin-right: 5px;
}

.refresh__toggler:hover,
.refresh__toggler:active {
    color: #16213E;
    background-color: white;
}

.table__wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #34495e;
    padding: 30px 20px;
}

.table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table th, .table td {
    padding: 10px;
    white-space: nowrap;
    color: #fff;
    border: 1px solid transparent;
}

.table tbody tr:nth-child(odd) {
    background-color: #16213E;
}

.table tbody tr:nth-child(even) {
    background-color: #182747;
}

/* LOADING */
.loading__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}


.loading__wrapper.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.spinner__icon {
    width: 46px;
    height: 46px;
    border-width: .40rem;
    border-style: solid;
    border-color: #fff;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner__text {
    color: white;
}

.spinner__text::after {
    animation: ellipsis 2s steps(3) infinite;
    content: ". . .";
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

@keyframes ellipsis {
    0% { width: 0; }
    75% { width: 3ch; }
    100% { width: 5ch; }
}

/* Upload File */
#drop-area {
    border-style: dashed;
    border-width: 2px;
    border-color: #DFD3C3;
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
#drop-area.highlight {
    border-color: #85586F;
}
.label__file {
    padding: 5px 15px;
    color: #16213E;
    border-radius: .125rem;
    background-color: #ECE8DD;
    border-radius: .125rem;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.label__file:hover,
.label__file:active {
    color: #16213E;
}
.input__file {
    display: none;
}
#inputFile {
    display: none;
}
.info__input__file {
    font-size: 16px;
    color: white;
}
.submit__file {
    padding: .5rem;
    text-align: center;
    color: white;
    margin-top: 15px;
    border-radius: .175rem;
    cursor: pointer;
    width: 100%;
    background-color: #e74c3c;
}
#displayFile {
    margin: 15px 0;
    display: none;
    padding: 10px 0;
    position: relative;
    color: white;
}
#displayFile.active {
    display: flex;
    justify-content: space-between;
}
#displayFile.upload::after, #displayFile.upload::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
}
#displayFile.upload::before {
    width: 100%;
    background-color: whitesmoke;
}
#displayFile.upload::after {
    width: 0%;
    background-color: #FD8A8A;
    animation: file_upload 1s ease;
}
@keyframes file_upload {
    0% { width: 0; }
    100% { width: 100%; }
}
#delFileElem {
    color: white;
    cursor: pointer;
}
