{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet"/>

    <!-- ICON -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{% static 'css/css_grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <button class="navbar__toggler">
                <i class='bx bx-menu'></i>
            </button>
            <div class="banner__wrapper">
                <a href="" class="title__banner">K-Means</a>
            </div>
        </div>
    </nav>
    <div class="sidenav" id="side-nav">
        <nav class="navbar">
            <div class="container-fluid">
                <button class="navbar__toggler">
                    <i class='bx bx-menu'></i>
                </button>
                <div class="banner__wrapper">
                    <a href="{% url 'real_data' %}" class="title__banner">K-Means</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="{% url 'index' %}">
                        <i class='bx bxs-data'></i>
                        <span>Upload File</span>
                    </a>
                </li>
                {% if upload_file %}
                    <li class="navbar__item">
                        <a href="{% url 'real_data' %}">
                            <i class='bx bxs-data'></i>
                            <span>Data Received From The Service</span>
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="{% url 'uncleaned_data' %}">
                            <i class='bx bxs-data'></i>
                            <span>Data Before Cleanup</span>
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="{% url 'cleaned_data' %}">
                            <i class='bx bx-data'></i>
                            <span>Data After Cleanup</span>
                        </a>
                    </li>
                    <li class="navbar__item navbar__dropdown">
                        <a href="javascript:void(0)">
                            <i class='bx bxs-report'></i>
                            <span>Data Profiling And Report</span>
                        </a>
                        <ul class="navbar__dropdown__list">
                            <li class="navbar__dropdown__item">
                                <a href="" id="download-html">
                                    <i class='bx bxs-download'></i>
                                    <span>HTML Profiling</span>
                                </a>
                            </li>
                            <li class="navbar__dropdown__item">
                                <a href="" id="download-excel">
                                    <i class='bx bxs-download'></i>
                                    <span>EXCEL Report</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if cluster_view %}
                        <li class="navbar__item navbar__dropdown">
                            <a href="javascript:void(0)">
                                <i class='bx bxl-graphql'></i>
                                <span>Data Cluster</span>
                            </a>
                            <ul class="navbar__dropdown__list">
                                <li class="navbar__dropdown__item">
                                    <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster0">
                                        <i class='bx bx-data'></i>
                                        <span>Data Cluster 0</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster1">
                                        <i class='bx bx-data'></i>
                                        <span>Data Cluster 1</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster2">
                                        <i class='bx bx-data'></i>
                                        <span>Data Cluster 2</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster3">
                                        <i class='bx bx-data'></i>
                                        <span>Data Cluster 3</span>
                                    </a>
                                </li>
                                <!-- <li class="navbar__dropdown__item">
                                    <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster4">
                                        <i class='bx bx-data'></i>
                                        <span>Data Cluster 4</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster5">
                                        <i class='bx bx-data'></i>
                                        <span>Data Cluster 5</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster6">
                                        <i class='bx bx-data'></i>
                                        <span>Data Cluster 6</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster7">
                                        <i class='bx bx-data'></i>
                                        <span>Data Cluster 7</span>
                                    </a>
                                </li> -->
                            </ul>
                        </li>
                        <li class="navbar__item navbar__dropdown">
                            <a href="javascript:void(0)">
                                <i class='bx bxs-report'></i>
                                <span>Cluster Report</span>
                            </a>
                            <ul class="navbar__dropdown__list">
                                <li class="navbar__dropdown__item">
                                    <a href="" class="download_excel_cluster">
                                        <i class='bx bxs-download'></i>
                                        <span>Cluster Report 0</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="" class="download_excel_cluster">
                                        <i class='bx bxs-download'></i>
                                        <span>Cluster Report 1</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="" class="download_excel_cluster">
                                        <i class='bx bxs-download'></i>
                                        <span>Cluster Report 2</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="" class="download_excel_cluster">
                                        <i class='bx bxs-download'></i>
                                        <span>Cluster Report 3</span>
                                    </a>
                                </li>
                                <!-- <li class="navbar__dropdown__item">
                                    <a href="" class="download_excel_cluster">
                                        <i class='bx bxs-download'></i>
                                        <span>Cluster Report 4</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="" class="download_excel_cluster">
                                        <i class='bx bxs-download'></i>
                                        <span>Cluster Report 5</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="" class="download_excel_cluster">
                                        <i class='bx bxs-download'></i>
                                        <span>Cluster Report 6</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown__item">
                                    <a href="" class="download_excel_cluster">
                                        <i class='bx bxs-download'></i>
                                        <span>Cluster Report 7</span>
                                    </a>
                                </li> -->
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock %}
    
    {% block javascript %}
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/download_file.js' %}"></script>
    {% if cluster_view %}
    <script src="{% static 'js/download_excel_cluster.js' %}"></script>
    {% endif %}
</body>
</html>