{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page">
    <div class="container">
        <div class="content__wrapper">
            <h1 class="header__page">{{ title_page }}</h1>
            
            {% if refresh_button %}
            <a href="{% url 'cleaned_data' %}?refresh_data=1" 
                style="width: fit-content;" id="refresh-toggler"
                class="refresh__toggler" type="button">
                <i class='bx bx-recycle'></i>
                Refresh
            </a>
            {% endif %}

            {% if refresh_cluster_button %}
            <a href="{% url 'download_and_show_data_cluster' %}?cluster={{ data_query_param }}" 
                style="width: fit-content;" id="refresh-toggler"
                class="refresh__toggler" type="button">
                <i class='bx bx-recycle'></i>
                Refresh
            </a>
            {% endif %}

            <div class="table__wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            {% for title in title_data %}
                            <th class="text__center">{{ title }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in content_data %}
                        <tr>
                            {% for k, v in data.items %}
                                {% if k != 'index' %}
                                <td class="text__center">{{ v }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- LOADING -->
<div id="loading-wrapper" class="loading__wrapper">
    <div class="spinner__icon"></div>
    <p class="spinner__text">Generating Report</p>
</div>
{% endblock %}