{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- MAIN CONTENT -->
<div class="page">
    <div class="container-fluid">
        <div class="upload__file__wrapper">
            <div id="drop-area">
                <p class="info__input__file">Drag and drop file here or</p>
                <label class="label__file" for="inputFile">Browse</label>
                <input type="file" id="inputFile"/>
            </div>
            <div id="displayFile"></div>
            <a href="{% url 'real_data' %}?upload_file=True" class="submit__file">SUBMIT</a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/input_file.js' %}"></script>
{% endblock %}